p {
    margin-bottom: 12px;
}

h1, h2, h3 {
    font-size: 36px;
    margin-bottom: 0px
}

h2 {
    font-size: 32px;
    border-bottom: 3px black solid;
    margin-bottom: 0px 
}

h3 {
    font-size: 20px;
    margin-bottom: 0px
}

#header {
    text-align: center;
    margin-bottom: 32px
}

#footer {
    text-align: center;
    margin-bottom: 64px
}